#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    height: 900px;
    width: 100%;
  }  
  #scoreboard_name,
  .scoreboard_score {
    padding: 10px;
    text-align: center;
  }
  #scoreboard {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 56px;
    gap: 30px;
  }
  #btn_box {
    display: flex;
    justify-content: center;
    gap:10px;
  }

  #scoreboard_name{
    font-weight: 200px;
    border-bottom: 1px solid salmon;
  }
  #rock {
    height: 30px;
    width: 100px;
  }
  #paper {
    height: 30px;
    width: 100px;
  }
  #scissors {
    height: 30px;
    width: 100px;
  }
  
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}